In [144]:
import sqlite3
import os

In [145]:
def connect(db_filename):
    # Adds .db to filename if necessary
    if db_filename[-3:] != '.db':
        db_filename += '.db'
        
    conn = sqlite3.connect(db_filename)
    c = conn.cursor()
    
    return c

In [146]:
def create(table, categories):
    command = "CREATE TABLE IF NOT EXISTS "
    command += table
    command += " (\n"
    
    for attribute, datatype in categories.items():
        command += attribute
        command += " "
        
        command += datatype
        command += ",\n"
    
    command = command[:-2]
    command += ");"
    
    print(command)
    c.execute(command)

In [147]:
def drop(table):
    command = "DROP TABLE IF EXISTS " + table
    c.execute(command)

In [148]:
def drop_all():
    c.execute("SELECT name FROM sqlite_master WHERE type='table';")

    for table in c.fetchall():
        drop(table[0])

In [149]:
def print_database():
    c.execute("SELECT name FROM sqlite_master WHERE type='table';")
    print ("Tables:")
    
    for t in c.fetchall() :
        print ("\t[%s]"%t[0])
        print ("\tColumns of", t[0])
        c.execute("PRAGMA table_info(%s);"%t[0])
        
        for attr in c.fetchall() :
            print ("\t\t", attr)
            
        print()

In [150]:
db_filename = "test_tables"
c = connect(db_filename)

In [151]:
table = "body_part"

categories = {
    "part_id": "INT",
    "part_name": "VARCHAR(30)",
    "calories": "INT"
}

create(table, categories)

CREATE TABLE IF NOT EXISTS body_part (
part_id INT,
part_name VARCHAR(30),
calories INT);

In [152]:
table = "equipment"

categories = {
    "equipment_id": "INT",
    "equipment_name": "VARCHAR(30)"
}

create(table, categories)

CREATE TABLE IF NOT EXISTS equipment (
equipment_id INT,
equipment_name VARCHAR(30));

In [153]:
table = "exercise"

categories = {
    "exercise_id": "INT",
    "exercise_name": "VARCHAR(30)",
    "exercise_description": "VARCHAR(1000)",
    "exercise_body_part": "VARCHAR(30)",
    "exercise_equipment": "VARCHAR(30)"
}

create(table, categories)

CREATE TABLE IF NOT EXISTS exercise (
exercise_id INT,
exercise_name VARCHAR(30),
exercise_description VARCHAR(1000),
exercise_body_part VARCHAR(30),
exercise_equipment VARCHAR(30));

In [154]:
table = "user"

categories = {
    "user_id": "INT",
    "username": "VARCHAR(15)",
    "email": "VARCHAR(320)"
}

create(table, categories)

CREATE TABLE IF NOT EXISTS user (
user_id INT,
username VARCHAR(15),
email VARCHAR(320));

In [155]:
table = "favorite"

categories = {
    "favorite_id": "INT",
    "favorite_user": "VARCHAR(15)",
    "favorite_exercise": "VARCHAR(30)"
}

create(table, categories)

CREATE TABLE IF NOT EXISTS favorite (
favorite_id INT,
favorite_user VARCHAR(15),
favorite_exercise VARCHAR(30));

In [156]:
print_database()

Tables:
	[body_part]
	Columns of body_part
		 (0, 'part_id', 'INT', 0, None, 0)
		 (1, 'part_name', 'VARCHAR(30)', 0, None, 0)
		 (2, 'calories', 'INT', 0, None, 0)

	[equipment]
	Columns of equipment
		 (0, 'equipment_id', 'INT', 0, None, 0)
		 (1, 'equipment_name', 'VARCHAR(30)', 0, None, 0)

	[exercise]
	Columns of exercise
		 (0, 'exercise_id', 'INT', 0, None, 0)
		 (1, 'exercise_name', 'VARCHAR(30)', 0, None, 0)
		 (2, 'exercise_description', 'VARCHAR(1000)', 0, None, 0)
		 (3, 'exercise_body_part', 'VARCHAR(30)', 0, None, 0)
		 (4, 'exercise_equipment', 'VARCHAR(30)', 0, None, 0)

	[user]
	Columns of user
		 (0, 'user_id', 'INT', 0, None, 0)
		 (1, 'username', 'VARCHAR(15)', 0, None, 0)
		 (2, 'email', 'VARCHAR(320)', 0, None, 0)

	[favorite]
	Columns of favorite
		 (0, 'favorite_id', 'INT', 0, None, 0)
		 (1, 'favorite_user', 'VARCHAR(15)', 0, None, 0)
		 (2, 'favorite_exercise', 'VARCHAR(30)', 0, None, 0)

In [157]:
#drop_all()